<br/>
<div class="col-lg-2 col-lg-offset-4">
  <%= link_to 'Регистрация докладчика', new_user_registration_path, class: 'btn btn-default' %>
</div>

<div class="col-lg-3">
  <%= link_to 'Регистрация слушателя', new_listener_request_path, class: 'btn btn-default' %>
</div>

<div class="col-lg-6 col-lg-offset-3">
<hr />
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "form-horizontal center"}) do |f| %>
      <fieldset>
        <legend><%= t('registration') %></legend>
        <i>* - обязательные поля для заполнения</i>
        <hr />
        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.label t('user_params.first_name'), class: 'col-lg-3 control-label' %>

          <div class="col-lg-9">
            <%= f.text_field :first_name, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label t('user_params.last_name'), class: 'col-lg-3 control-label' %>
          <div class="col-lg-9">
            <%= f.text_field :last_name, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label t('user_params.middle_name'), class: 'col-lg-3 control-label' %>
          <div class="col-lg-9">
            <%= f.text_field :middle_name, class: 'form-control' %>
          </div>
        </div>


        <div class="form-group">
          <%= f.label :'Email*', class: 'col-lg-3 control-label' %>
          <div class="col-lg-9">
            <%= f.email_field :email, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label t('user_params.phone'), class: 'col-lg-3 control-label' %>
          <div class="col-lg-9">
            <%= f.text_field :phone, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label t('user_params.country'), class: 'col-lg-3 control-label' %>
          <div class="col-lg-9">
            <%= f.text_field :country, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label t('user_params.city'), class: 'col-lg-3 control-label' %>
          <div class="col-lg-9">
            <%= f.text_field :city, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label t('user_params.degree'), class: 'col-lg-3 control-label' %>
          <div class="col-lg-9">
            <%= f.text_field :degree, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label t('user_params.biography'), class: 'col-lg-3 control-label' %>
          <div class="col-lg-9">
            <%= f.text_area :biography, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label t('user_params.speech_experience'), class: 'col-lg-3 control-label' %>
          <div class="col-lg-9">
            <%= f.text_area :speech_experience, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label t('user_params.avatar'), class: 'col-lg-3 control-label' %>
          <div class="col-lg-9">
            <%= f.file_field :avatar, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label t('user_params.password'), class: 'col-lg-3 control-label' %>


          <div class="col-lg-9">
            <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
            <% if @minimum_password_length %>
                <em>(Как минимум <%= @minimum_password_length %> символов)</em>
            <% end %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label t('user_params.password_confirmation'), class: 'col-lg-3 control-label' %>

          <div class="col-lg-9">
            <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-9 col-lg-offset-3">
            <%= f.submit t('confirm'), class: 'btn btn-primary' %>
          </div>
        </div>
      </fieldset>
  <% end %>
</div>
